.requirelogin {
  display: none; }

.nf-btn {
  border-radius: 2px;
  background-color: #EEEEEE;
  border: 1px solid #DDDDDD;
  border-bottom: 3px solid #BBB;
  color: #909090;
  cursor: pointer;
  text-align: center;
  line-height: 1.5em;
  min-width: 50px;
  display: inline-block;
  padding: 0px 5px; }

.nf-btn:hover {
  background-color: #DDDDDD;
  border-bottom: 2px solid #DDDDDD; }

.nf-btn-block {
  width: 100%; }

.nf-btn-primary {
  color: #e6e6e6;
  background-color: #8f4040;
  border: 1px solid #8f4040;
  border-bottom: solid 3px #402a2a; }

.nf-btn-primary:hover {
  border: 1px solid #402a2a;
  border-bottom-color: #402a2a;
  background-color: #402a2a; }

.workspace-container {
  background-color: #EEEEEE;
  min-height: 100%;
  width: calc(100% - 300px);
  overflow: auto;
  position: relative;
  float: left; }
  .workspace-container .workspace {
    overflow: auto;
    position: relative;
    background-color: #FFFFFF;
    margin: 0 auto;
    min-height: 100%;
    width: 1080px;
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5); }
    .workspace-container .workspace .el {
      position: absolute !important; }

.workpanel {
  font-size: 0.8em;
  float: left;
  position: relative;
  background-color: #555;
  height: 100%;
  width: 300px;
  padding: 10px;
  overflow: auto; }
  .workpanel hr {
    border-color: #888;
    margin: 10px 0px; }
  .workpanel label {
    color: #EEE;
    min-width: 100px; }
  .workpanel h1 {
    font-size: 12px;
    width: 100%;
    display: block;
    background-color: #999;
    padding: 5px;
    text-align: center;
    margin-left: -10px; }
  .workpanel .signin-section {
    color: #EEE;
    display: none; }
  .workpanel .signedin-section {
    color: #EEE;
    display: none; }
  .workpanel .save {
    display: none; }
  .workpanel .canvas-list {
    display: none; }
  .workpanel .new-canvas-title {
    display: none; }
  .workpanel .css-block {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: dotted 1px #6A6A6A; }
    .workpanel .css-block h2 {
      font-size: 12px;
      color: #AAA;
      margin: 0px;
      padding: 0px;
      line-height: 1.2em;
      text-transform: uppercase; }
  .workpanel .minicolors-theme-default .minicolors-swatch {
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    border: solid #888 1px; }
  .workpanel .minicolors-theme-default.minicolors-position-right .minicolors-swatch {
    left: auto;
    right: 5px; }
  .workpanel input {
    border: solid #888 1px;
    border-radius: 2px; }
  .workpanel textarea {
    width: 100%; }
  .workpanel .input-num {
    width: 50px; }
  .workpanel .input-num-small {
    width: 24px; }
  .workpanel .input-num4 {
    width: 104px; }
  .workpanel .input-block {
    width: 100%; }
  .workpanel .input-color {
    width: 104px; }
  .workpanel .css-editor {
    font-family: "consolas";
    min-height: 300px; }
